<!doctype html>
<html lang="en">
    
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="Lucien's Capstone Project Web Application">
        <meta name="author" content="Lucien Simpfendoerfer">

        <title>CAA Violation Risk</title>
        
        <!-- Piece of code to render bokeh plots -->
        <!-- {{ bokeh_resources | safe}} -->
        
        <!-- Bootstrap core CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <!--<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">-->
    </head>
    
    <body>
        
        <div class="container">
        <div class="row">
        <div class="col-lg-12 text-left">
        <ul class="nav nav-pills">
            <li class="nav-item">
                <a class="nav-link active" href="/">Data Viewer</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="documentation">Documentation</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="contact">Contact Me</a>
            </li>
        </ul>
        </div>
        </div>
        </div>
        
        
        <!-- Description/instructions -->
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-left">
                    <h1>Contact me</h1>
                    <p>Lucien Simpfendoerfer</p>
                    <p><strong>Email</strong>: <a href="lucien.simpfendoerfer@gmail.com">lucien.simpfendoerfer@gmail.com</a></p>
                    <p><strong>Github</strong>: <a href="https://github.com/lucien-sim">https://github.com/lucien-sim</a></p>                    
                </div>
            </div>
        </div>



    </body>

</html>