<!doctype html>
<html lang="en">
    
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="Lucien's Capstone Project Web Application">
        <meta name="author" content="Lucien Simpfendoerfer">

        <title>Project Documentation</title>
        
        <!-- Piece of code to render bokeh plots -->
        <!--{{ bokeh_resources | safe}}-->
        
        <!-- Bootstrap core CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    </head>
    
    <body>
        
        <div class="container">
        <div class="row">
        <div class="col-lg-12 text-left">
        <ul class="nav nav-pills">
          <li class="nav-item">
            <a class="nav-link active" href="/">Data Viewer</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="documentation">Documentation</a>
          </li>
          <li class="nav-item">
                <a class="nav-link" href="contact">Contact Me</a>
            </li>
        </ul>
        </div>
        </div>
        </div>
          
        <!-- Description/instructions -->
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-left">
                    <h1>Documentation</h1>

                    <p><strong>Code availability</strong>: On GitHub, <a href="#">here</a>.</p>

                    <h2>Motivation</h2>

                    <p>We know that air mass transformation--the process by which warm, moist air from 
                        the mid latitudes transforms into cold, dry air in the Arctic--plays a critical
                        role in the Arctic climate (eg. _____). As of now, most of what we know about air mass
                        transformations comes from studies that rely on physical models of the atmosphere (eg. ____).
                        Comparatively little of what we know comes observational studies (eg. _____). While I think 
                        the modeling studies have provided a decent conceptual picture of what air mass 
                        transformations look like, the picture is probably incomplete because all atmospheric 
                        models provide incomplete representations of the Arctic atmosphere. In other words, 
                        we have a rough idea of what the transformation process should look like, according to theory, 
                        but don't really know what the process looks like in the real atmosphere, where all complexities 
                        are at play. 
                    </p>
                    <p>I've built this tool to help look inside the air mass transformation process. The reanalysis 
                        fields (top) give broad pictures of transformation events, while the satellite 
                        observations (bottom) provide snapshots of the clouds in those transformation events. 
                        The tool emphasizes cloud observations because cloud processes are a critical part of air
                        mass transformations. 
                    </p>

                    <h2>Tool Overview</h2>
                    
                    <p>A sample map generated by the data viewing tool is available below. <br>
                    <iframe src="../static/sample_bokeh_figure.html" width="820" height="850" frameBorder="0"></iframe>
                    </p>
                    <p>The top panel is meant to provide a spatial overview of air mass transformation events. 
                        On the panel, you will find the satellite trajectory for a given radar pass (plotted in 
                        black), and the field for a given ERA5 reanalysis variable (plotted as an 
                        image) at the hour closest 
                        to the radar pass' representative time. The panel's title provides the name of the 
                        ERA5 field, as well as the representative time for the given radar pass. The continental 
                        boundaries
                        are also plotted in black to provide spatial reference. The X and Y axes show coordinates 
                        in the Polar Stereographic coordinate system (EPSG:3995), while the latitudes, 
                        longitudes, and times for 
                        every fortieth radar profile are available through a hovertool, which becomes 
                        active when you mouse over the top panel. The tools in the toolbar on the top 
                        right can be used to zoom, pan, reset, and save a snapshot of the figure. 
                    </p>
                    <p>The bottom panel shows measurements from the satellite's cloud penetrating radar. In the 
                        bottom panel in the sample figure, the radar reflectivity is plotted. A gray line appears 
                        on the bottom panel whenever your mouse passes over the top panel. This line shows which 
                        profile the hovertool on the top panel is currently highlighting, and is useful for 
                        drawing spatial connections between the radar trajectory on the top panel and the radar 
                        measurements on the bottom panel. Scroll-based zooming is automatically enabled for the 
                        bottom panel.                        
                    <p></p>

                    <h2>Data Sources</h2>
                    
                    <h3>CloudSat</h3>

                    <p>CloudSat is a polar orbiting satellite equipped with a cloud-penetrating radar.
                        Through high-frequency radar profiles of the atmosphere, CloudSat provides cross sections
                        of cloud structures underneath its orbit. An example of such a cross-section for Super 
                        Typhoon Atsani (2015) is provided below 
                        (<a href="https://phys.org/news/2015-08-cloudsat-slices-super-typhoon-atsani.html">Image source</a>). 
                        <br><br>
                        <img src="../static/cloudsat_image.jpg">
                        <br><br>
                    </p>

                    <p>Several CloudSat measurements are available through the data viewer:
                        <ul>
                            <li>Radar Reflectivity: measures how much of the radar signal is scattered back 
                                to the radar at a given altitude. Profiles of reflectivity provide information 
                                about cloud structure, with higher reflectivity values typically indicative of 
                                "thicker" clouds. 
                            </li>
                            <li>Cloud Classification: Classification of each cloud layer, according to 
                                the algorithm described [here]. Clouds are classified as _____. 
                            </li>
                            <li>Ice water content (g/m3): Mass of ice in a specific volume of air. The ice water 
                                content is inferred from the CloudSat observations and the temperature at each 
                                location. The retrieval methodology is described [here]. 
                            </li>
                            <li>Liquid water content (g/m3): Mass of liquid in a specific volume of air. Like 
                                the ice water content, the liquid water content is inferred fromt he CloudSat 
                                measurements and the temperature at each location. The retrieval methodology is 
                                described [here].
                            </li>
                        </ul>
                    </p>
                    
                    <h3>CALIPSO</h3>
                    
                    <p>CALIPSO is another polar orbiting satellite, which traditionally has the same orbital trajectory as 
                        CloudSat and [leads or follows] CloudSat by approximately _____ minutes. CALIPSO is outfit with 
                        a lidar instrument, which operates at 532 nm and 1064 nm. Because these are shorter wavelengths
                        than are used by CloudSat's cloud penetrating radar, the CALIPSO lidar is
                        more sensitive to small dust/ice/liquid particles and droplets
                        in the atmosphere. CALIPSO observations effectively complement CloudSat observations 
                        because they typically observe the same clouds, have a higher resolution, 
                        are more likely to detect thin cloud layers, and can detect 
                        clouds that are closer to the surface. However, CALIPSO osbervations cannot be used 
                        instead of CloudSat observations because the CALIPSO lidar is unable pass through 
                        thick clouds because it is so sensitive. Below is a sample of CALIPSO lidar observations with at 532 nm
                        (<a href="https://www-calipso.larc.nasa.gov/resources/calipso_users_guide/data_summaries/CALIOP_transient_response.php">Image source</a>).
                        
                        <br>
                        <img src="../static/calipso_image.png">
                        <br><br>

                    </p>
                    

                    <p>CALIPSO observations are not yet available through the data viewer. They will be added soon. 
                    </p>

                    <h3>ERA5</h3>

                    <p>ERA5 is the lastest atmospheric reanalysis product produced by the European Centre for 
                        Medium-Range Weather Forecasts (ECMWF). ERA5 uses a weather model and vast amounts of 
                        historical observations to infer the atmospheric state everywhere on the globe, hourly
                        from 1979-present. While ERA5 does not provide a perfect picture of the atmospheric 
                        state, it provides a good enough picture to infer large-scale setups for air mass 
                        transformation events. 
                    </p>

                    <p>Several CloudSat measurements are available through the data viewer. Note that variables
                        given at 850 mb are at about 1500 m of altitude, and variables given at 700 mb are at
                        about 3000 m of altitude, depending on conditions.
                        <ul>
                            <li>Temperature at 2 m (K)</li>
                            <li>Mean sea level pressure (mb)</li>
                            <li>Temperature at 850 mb (K)</li>
                            <li>Temperature at 700 mb (K)</li>
                            <li>Specific humidity at 850 mb (g/kg). The specific humidity is the ratio of the mass
                                of water vapor to the total mass of air in a piece of the atmosphere. </li>
                            <li>Specific humidity at 700 mb (g/kg)</li>
                            <li>Cloud ice water content at 850 mb (g/kg). The cloud ice water content is the ratio
                                of the mass of ice to the total mass of the air in a piece of the atmosphere. </li>
                            <li>Cloud ice water content at 700 mb (g/kg)</li>
                            <li>Cloud liquid water content at 850 mb (g/kg). The cloud liquid water content is the
                                same as the cloud ice water content, but is for cloud liquid instead of cloud ice. </li>
                            <li>Cloud liquid water content at 700 mb (g/kg)</li>
                            <li>E/W Wind at 850 mb (m/s). Winds to the east (westerly winds) are positive.</li>
                            <li>E/W Wind at 700 mb (m/s)</li>
                            <li>N/S Wind at 850 mb (m/s). Winds to the north (southerly winds) are positive.</li>
                            <li>N/S Wind at 700 mb (m/s)</li>
                            <li>Vertical wind velocity at 850 mb (mm/s). Upward motion is positive.</li>
                            <li>Vertical wind velocity at 700 mb (mm/s)</li>
                        </ul>
                    </p>

                    <h2>Limitations</h2>

                    <p>This tool is currently hosted through Heroku, which is free but places strict 
                        limitations on the sizes of web applications. Therefore, I'm only able to make ____ days 
                        of observations available to you. If you'd like to use the tool to explore data on 
                        different days, please fork the the <a href="#">GitHub repository</a> and set the tool 
                        up on your own machine. 
                    </p>

                </div>
            </div>
        </div>

        <!-- Back -->
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-left">
                    <br>
                    <p><a class="btn btn-primary" href="/" role="button">Back to data viewer</a></p>
                    <br>
                </div>
            </div>
        </div>
        
        <!--
        <footer id="footer">
    		<div class="container">
                <div class="row">
                    <div class="col-lg-12 text-left">
            			<p>&copy; Lucien Simpfendoerfer 2018. All rights reserved.</p>
            		</div>
        		</div>
            </div>
    	</footer>
        -->
        
    <!-- Bootstrap core JavaScript ================================ -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </body>
</html>