<!doctype html>
<html lang="en">
    
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="Lucien's Capstone Project Web Application">
        <meta name="author" content="Lucien Simpfendoerfer">

        <title>CloudSat Viewer</title>
        
        <!-- Piece of code to render bokeh plots -->
        {{ bokeh_resources | safe}}
        
        <!-- Bootstrap core CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <!--<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">-->
    </head>
    
    <body>
        
        <div class="container">
        <div class="row">
        <div class="col-lg-12 text-left">
        <ul class="nav nav-pills">
            <li class="nav-item">
                <a class="nav-link active" href="/">Data Viewer</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="documentation">Documentation</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="contact">Contact Me</a>
            </li>
        </ul>
        </div>
        </div>
        </div>
        
        
        <!-- Description/instructions -->
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-left">
                    <h1>CloudSat Data Viewer</h1>
                    <br>
                </div>
            </div>
        </div>
        
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-left">
        
                    <form id="viewer_query" method='post' action='submit_query'>
                        <!-- State -->
                        <label for="query_date">Date:</label>
                        <input type="date" id="query_date" name="query_date" min="2015-09-01T00:00" 
                               max="2015-09-30T23:59" size="10" value={{date_val}} >
                        &nbsp;&nbsp;&nbsp;

                        <label for="query_hour">Hour (HH):</label>
                        <input type="text" id="query_hour" name="query_hour" size="3" value={{hour_val}}>
                        &nbsp;&nbsp;&nbsp;
                        <br><br>

                        <!-- ERA5 Field -->
                        <label for="era5_field">Major/Minor:</label>
                        <select id="era5_field" name="era5_field">
                            <option value="t2m" {% if era5_val=='t2m' %} selected="selected"{% endif %} >Temperature at 2 m (K)</option>
                            <option value="msl" {% if era5_val=='msl' %} selected="selected"{% endif %} >Mean sea level pressure (mb)</option>
                            <option value="t_850" {% if era5_val=='t_850' %} selected="selected"{% endif %} >Temperature, 850 mb (K)</option>
                            <option value="t_700" {% if era5_val=='t_700' %} selected="selected"{% endif %} >Temperature, 700 mb (K)</option>
                            <option value="q_850" {% if era5_val=='q_850' %} selected="selected"{% endif %} >Specific humidity, 850 mb (g/kg)</option>
                            <option value="q_700" {% if era5_val=='q_700' %} selected="selected"{% endif %} >Specific humidity, 700 mb (g/kg)</option>
                            <option value="ciwc_850" {% if era5_val=='ciwc_850' %} selected="selected"{% endif %} >Cloud ice water content, 850 mb (g/kg)</option>
                            <option value="ciwc_700" {% if era5_val=='ciwc_700' %} selected="selected"{% endif %} >Cloud ice water content, 700 mb (g/kg)</option>
                            <option value="clwc_850" {% if era5_val=='clwc_850' %} selected="selected"{% endif %} >Cloud liquid water content, 850 mb (g/kg)</option>
                            <option value="clwc_700" {% if era5_val=='clwc_700' %} selected="selected"{% endif %} >Cloud liquid water content, 700 mb (g/kg)</option>
                            <option value="u_850" {% if era5_val=='u_850' %} selected="selected"{% endif %} >E/W Wind, 850 mb (m/s)</option>
                            <option value="u_700" {% if era5_val=='u_700' %} selected="selected"{% endif %} >E/W Wind, 700 mb (m/s)</option>
                            <option value="v_850" {% if era5_val=='v_850' %} selected="selected"{% endif %} >N/S Wind, 850 mb (m/s)</option>
                            <option value="v_700" {% if era5_val=='v_700' %} selected="selected"{% endif %} >N/S Wind, 700 mb (m/s)</option>
                            <option value="w_850" {% if era5_val=='w_850' %} selected="selected"{% endif %} >Vertical velocity, 850 mb (mm/s)</option>
                            <option value="w_700" {% if era5_val=='w_700' %} selected="selected"{% endif %} >Vertical velocity, 700 mb (mm/s)</option>
                        </select>
                        &nbsp;&nbsp;&nbsp;
                        <br><br>
        
                        <!-- Satellite field -->
                        <label for="sat_field">CloudSat Field:</label>
                        <select id="sat_field" name="sat_field">
                            <option value="radar_refl" {% if cloudsat_val=='radar_refl' %} selected="selected"{% endif %} >Radar Reflectivity</option>
                            <option value="cloud_type" {% if cloudsat_val=='cloud_type' %} selected="selected"{% endif %} >Cloud Type</option>
                            <option value="iwc" {% if cloudsat_val=='iwc' %} selected="selected"{% endif %} >Cloud Ice Water Content (g/m3)</option>
                            <option value="lwc" {% if cloudsat_val=='lwc' %} selected="selected"{% endif %} >Cloud Liquid Water Content (g/m3)</option>
                        </select>
                        &nbsp;&nbsp;&nbsp;

                        <!-- Submit button -->
                        <input type="submit" value="Submit">
                        <br>
                    </form>
        
                </div>
            </div>
        </div>

        <!-- Radar pass plot -->
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-left">
                    <br>
                    {{ div_plt | safe }}
                    {{ script_plt | safe }}
                    <br>
                </div>
            </div>
        </div>
        
    <!-- Bootstrap core JavaScript ================================ -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </body>
</html>